@charset "utf-8";
*{
	margin: 0;
    padding: 0;
    line-height: 1.42857;
    font-family: "microsoft yahei",helvetica;
    font-size: 14px;
}
body{
	background-color: #edf2f5;
}
.mcontainer_bottom{
	padding-bottom: 56px;
}
/*急症备案*/
.mhelp{
    color: #3291cf;
}
.mjzba_top{
	height: auto;
	background-size: 100% 100% !important;
	padding-bottom: 30px;
	position: relative;
}
.mjzba_topnr{
	text-align: center;
	color: #005787;
}
.mjzba_topnr_pic img{
	width: 20%;
	height: 20%;
	border-radius: 5px;
	margin-top: 20px;
}

.mjzba_topnr_name{
	display: inline-block;
	margin-top: 5px;
}
.mjzba_topnr_name img{
	width: 20px;
	height: 20px;
	float: left;
	padding-right: 10px;
}
.mjzba_topnr_name span{
	font-size: 16px;
}
.mjzba_topnr_name em{
	color: #fff;
	background-color: #3291cf;
	padding: 2px 5px;
	border-radius: 5px;
}
.mjzba_topnr_zh{
	margin-top: 5px;
	margin-bottom: 10px;
}
.mjzba_topnr_wz p{
	font-size: 16px;
}
.mjzba_gg{
	width: 90%;
	margin: 0 auto;
}
.mjzba_gg_padding{
	padding: 10px 20px;
	box-shadow: 2px 2px 10px #caccce;
	background-color: #fff;
	border-radius: 5px;
	min-height: 60px;
}
.mjzba_gg_padding img{
	width: 50px;
	float: left;
}
.mjzba_gg_padding p{
	color: #9fa0a0;
	font-size: 12px;
	padding-left: 56px;
}

.mjzba_form{
	border-radius: 5px;
	background-color: #fff;
	margin-top: 10px;
	padding-bottom: 10px;
}





.ywsh_info {
    color: #005787;
    font-size: 16px;
    padding-left: 20px;
    border-bottom: 1px solid #005787;
    line-height: 44px;
    padding-top: 10px;
}

.ydjzsq_ad {
    width: 90%;
    margin: 5px auto;
}
.ydjzsq_size {
    font-size: 14px;
}
.mjzba_color{
    color: #015480 !important;
}
.ydjzsq_size input{
    width: 65% !important;
    padding-left: 15px !important;
    margin-left: 93px;
    background-color: #efefee;
    border-radius: 10px;
}
.top_ad {
    border-top: 1px solid #ececec;
}

.ywsh_width {
    width: 100px !important;
}
.user-number {
    /*line-height: 44px;*/
    padding-right: 5px;
    padding-top: 10px;
}
.jiaji {
    position: absolute;
    top: 0;
    border-radius: 10px;
    padding-left: 5px;
    /*padding-right: 5px;*/
    /*line-height: 29px !important;*/
    margin-top: 12px;
    margin-left: 39px !important;
    background-color: #efefee;
    
}
.ydjzsq_age {
    padding-left: 32%;
    line-height: 44px;
}
.ydjzsq_age input {
    width: 75% !important;
    margin-left: 50px;
}
.mhzgx {
	width: 65%;
}
.mhzgx select{
	background-color: #efefee;
	border-radius: 10px;
	padding-left: 15px;
}
.houjia {
    position: absolute;
    top: 0;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 3px;
    line-height: 29px !important;
    margin-top: 7px;
    margin-left: -8px !important;
}
.myljg select{
	padding-right: 3px;
}
.ydjzsq_ege {
    padding-left: 39px !important;
    padding-top: 12px;
    padding-right: 8px;
}
/*.ydjzsq_ege input{
    width: 70% !important;
}*/
.red_tex {
    font-size: 14px;
    color: #FF0000;
    height: auto !important;
}
.hospital {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.id_pic {
    width: 90%;
    margin: 10px auto;
}
.id_pic a {
    text-align: center;
    display: block;
}
.id_pic a img {
    width: 100%;
    height: 100%;
}
.ydjzsq_margin {
    margin-top: 10px;
    /*margin-bottom: 60px;*/
}
.ydjzsq_width {
    width: 96% !important;
    margin: 0 auto;
}
.ydzjsq_bg {
    background: url(../img/yidianniu.jpg) left top repeat-x;
    /* background-size: 100% 100%; */
}
.ydjzsq_submit {
    background-color: #c1e3d5;
    border-color: #c1e3d5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #c1e3d5), to(#c1e3d5));
    color: 005787;
    background-clip: padding-box;
}
.yydjsq_btn {
    color: #005787;
}
.authentication{
	padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #3291cf;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10%;
}
.authentication a{
	font-size: 12px;
    display: block;
    color: #3291cf;
    line-height: 25px;
}
.ywsh_info a{
	padding-right: 15px;
	line-height: 44px;
	float: right;
}
/*工商备案*/
.mjzba_gg_padding h4{
	color: #9fa0a0;
	padding-left: 56px;
}

/*意外伤害*/
.ywsh_pass {
    padding-left: 10px;
}
.ywsh_pass label {
    display: block;
}
.ywsh_pass textarea {
    width: 95%;
    padding-left: 10px;
    padding-top: 5px;
    border: none;
    background-color: #efefee;
    border-radius: 10px;
    resize : none;
}
/*定点医院*/
.tuchang span{
	background-size: 100% 100% !important;
}
/*异地居住申请*/
.mjzdyy{
	display: inline-block;
	background-color: #abddf1;
	font-size: 16px;
    margin-top: 20px;
    /*padding-bottom: 10px;*/
   padding-left: 5px;
   padding-right: 5px;
    margin-left: 10px;
    color: #005787;
}

/*选择科室*/
.mxzks{
	overflow: hidden;
}
.mkslist{
	width: 50%;
	float: left;
	background-color: #edf2f5;
}
.mkslist li{
	
}
.mkslist li{
	line-height: 44px;
	padding-left: 20px;
	color: #878484;
}
.mmzlist li a{
	color: #878484;
	display: block;
	line-height: 44px;
	padding-left: 20px;
}
.menzhen{
	overflow: hidden;
}
.mmzlist{
	width: 100%;
	float: left;
	background-color: #fff;
	display: none;
}
.on{
	display: block;
}
.mselected{
	background:  url(../img/sanjiao.png) 20px center no-repeat;
	background-size: 10px 10px;
	padding-left: 40px !important;
	background-color: #fff;
	box-shadow: 1px 2px 2px #bce4f3;
}



/*选择一级医院*/
.mxzyjyy{
	background-color: #fff;
}
.mxzyjyy_top{
	padding: 15px;
}
.eject_select{
	border-radius: 10px;
	border: 1px solid #edf2f5;
	padding: 10px;	
}
.myjyy_select{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.mxzyjyy_sf{
	width: 88%;
	margin-left: 32px !important;
}
.mxzyjyy_sf select {
    background-color: #efefee;
    border-radius: 10px;
    padding-left: 15px;
}
.eject_option{
	line-height: 30px;
}
.eject_select h2{
	color: #005787;
	font-size: 16px;
	line-height: 30px;
}
.mxzyjyy_height{
	height: 30px !important;
}

.news-li-bg a {
    width: 100%;
    color: #000000;
    display: block;
}
.news_avatar {
    width: 100px !important;
    height: 80px;
    -webkit-border-radius: 0 !important;
    float: left;
}
.news_avatar > span {
    -webkit-border-radius: 0 !important;
}
.mnews_top {
    padding-top: 12px;
}
.ui-list li h4 {
    font-size: 16px;
}
.daxiao h4 {
    padding: 0px 0px 6px 0px;
}
.text_center {
    text-align: left;
}
.dengji {
    font-size: 12px;
    color: #005787;
    display: block;
    text-align: left;
}
.ke {
    padding-top: 6px;
}
.daxiao .p_1 {
    font-size: 12px;
    color: #ccc;
}

/*用户绑定补充信息*/
.grxxcx {
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 0;
    background: none;
    padding-left: 95px;
    line-height: 44px;
    word-wrap: break-word;
}

.myhbd_btn{
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	
}
.myhbd_btn button{
	height: 24px;
	font-size: 16px;
	flex-grow: 1;
	color: #fff;
	border-radius: 10px;
	text-align: center;
}
.myhbd_btn_qx{
	background-color: #ed2848;
	margin-right: 10px;
}
.myhbd_btn_qd{
	background-color: #3291cf;
	margin-left: 10px;
}
/*居民新参保*/

/*诊疗目录详情*/
.zlmlxx {
    width: 90%;
    margin: auto;
}
.zlmlxx_detail {
    padding: 20px 10px;
}
.zlmlxx_detail p {
    font-size: 18px !important;
}
.zlmlxx_list {
    height: auto !important;
}
.zlmlxx_list p {
    word-wrap: break-word;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.zlmlxx_beizhu {
    padding: 12px 10px;
}

/*医疗待遇明细*/
.zlmx_top {
    background: -webkit-linear-gradient(top,#1a8ec5, #a6d8e8);
    overflow: hidden;
}
.zlmx_head {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.zlmx_head p {
    text-align: center;
    color: #fff;
}
.zlmx_money {
    font-size: 20px;
}
.zlmx_width {
    width: 90%;
    margin: 0 auto;
}
.zlmx_border {
    border-top: 1px solid #fff;
}
.zlmx_part {
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
}
.zlmx_part_left {
    width: 50%;
    float: left;
}
.zlmx_part_left p {
    text-align: center;
    color: #fff;
}
.zlmx_mx {
    line-height: 44px;
    text-indent: 1.3em;
    color: #005787;
}
.zlmx_details ul {
    background-color: #FFFFFF;
    color: #005787;
    padding-bottom: 20px;
    padding-top: 10px;
}
.zlmx_details ul li {
    line-height: 44px;
    border-bottom: 1px solid #b4cfdc;
    padding-left: 5px;
    padding-right: 5px;
}
.zlmx_details ul li {
    width: 90%;
    margin: 0 auto;
}