
body{
	background-color: #edf2f5 ;
}
.bzxq{
	background-color: #fff;
}
.yhbz_color a{
	color: #000;
}
.xiabiankuang{
	margin-bottom: 65px;
}

/*帮助详情*/
.bzxq h2{
	font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
	text-align: center;
}

.bzxq p{
	text-indent: 2em;
	margin: auto;
	font-size: 16px;
    margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.xiabiankuang{
	
}
